body{padding: 0px;margin: 0px;}
main{
    background-color: rgb(77, 40, 133);
    height: 550px;
    width: 60%;
    position: absolute;
    left: 20%;top: 20%;
    border-radius: 20px;
}
#display{
    background-color: rgb(56, 106, 96);
    color: rgb(17, 78, 34);
    height: 80px;
    width: 80%;
    border-radius: 30px;
    margin-top: 20px;margin-left: 10%;
    font-size:50px;font-weight: bolder;font-family: arial;text-align: right;
    padding: 10px;box-sizing: border-box;
}
#buttons{
    background:linear-gradient(45deg,rgb(193, 128, 193),rgb(62, 184, 218));
    width: 60%;
    height: 420px;
    position: relative;
    left: 5%;
    top: 2%;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.digit{
    width: 30%;height: 15%;
    position: relative;
    top: 20px;
    font-weight: bolder;
    font-family: arial;
    font-size: 40px;
    background: linear-gradient(45deg,rgb(137, 226, 226),rgb(182, 123, 182));
    box-shadow: 2px 2px 5px 1px rgb(78, 16, 145);
    outline: none;
}
.digit:hover{box-shadow: none;transition: 0.2s;}
.extra{
    background: black;
    color: white;
    border-radius: 50%;
}
#operands{
    height: 400px;
    width: 25%;
    position: absolute;
    right: 5%;
    top: 100px;
    display: flex;flex-wrap: wrap;justify-content: space-around;
    /* background: linear-gradient(45deg,rgb(71, 225, 176),rgb(87, 42, 122)); */
}
.operand{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    /* border-radius: 50%; */
    font-size: 40px;
    outline: none;
    color: white;
    background: linear-gradient(45deg,rgb(37, 9, 98),rgb(83, 166, 194));
    box-shadow: 3px 3px 5px 1px rgb(106, 106, 105);
}
.operand:nth-child(4),.operand:nth-child(5){font-weight: 700;}
.operand:hover{box-shadow: none;transition: 0.2s;}



@media (max-width:680px){
       main{
           width: 90%;left: 5%;top: 5%;
       }
       #display{
           font-size: 20px;
       }
       .digit:nth-child(3){
           font-size: 15px;
       }
}